*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c40;
    gap: 2rem;
    color: white;
}
.Cards{
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 20px;
    .card{
        display: flex;
        border-radius: 10px;
        box-shadow: 0 0 10px royalblue;
        min-height: 200px;
        height: auto;
        width: 300px;
        a{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: white;
            gap: 2rem;
            img{
                height: 100px;
            }
        }
    }
}