$laranja: #ff5722;
$salmao: #f97c56;
$azul: #58c2b5;
$branco: #f9f9f9;
$amarelo: #f0ad24;

*:not(dialog){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 10dvh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $laranja;
    color: white;
    nav{
        display: flex;
        ul{
            display: flex;
            li{
                list-style: none;
                padding: 0.5rem;
                border-bottom: 1px solid white;
                a{
                    height: 100%;
                    width: 100%;
                    color: black;
                    filter: invert(1);
                    text-decoration: none;
                }
            }
            li:hover{
                border-bottom: none;
                border-top: 1px solid white;
            }
        }
    }
}
main{
    margin-bottom: 5rem;
}
#Hero{
    height: 50dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .Welcome{
        width: 80%;
        height: 80%;
        box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
        border-radius: 10px;
        padding: 1rem;
        transition-duration: 0.5s;
        .Plano{
            width: 95%;
            display: flex;
            height: 70%;
            align-items: center;
            justify-content: space-around;
            background-color: #d0d0d0;
            border-radius: 10px;
            .Laranja{
                background-color: $laranja;
                color: white;
                border-radius: 10px;
                width: 15%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 80%;
                img{
                    filter: invert(1);
                }
            }
            .Plano-Card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
                height: 80%;
                width: 30%;
                background-color: $branco;
                border-radius: 10px;
                strong{
                    color: $azul;
                }
            }
        }
    }
    .Welcome:hover{
        transform: translateY(-1.1rem);
    }
}
#Carrossel{
    height: 45dvh;
    width: 100%;
    .carrossel{
        height: 100%;
        width: 100%;
        position: relative;
        .carrossel-track{
            height: 100%;
            width: 100%;
            position: relative;
            .carrossel-item{
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .carrossel-item.ativo{
                opacity: 1;
            }
        }
        .next{
            right: 2%;
        }
        .prev{
            left: 2%;
        }
        .next,.prev{
            position: absolute;
            z-index: 1;
            top: 50%;
            background-color: rgba(0,0,0, 0.5);
            color: white;
            padding: 0.5rem 1rem;
        }
    }
}
#Graficos{
    height: 40dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .Progresso{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 80%;
        width: 30%;
        border-radius: 10px;
        padding: 1rem;
        transition-duration: 0.5s;
        box-shadow: 0 0 10px rgba(0,0,0, 0.5);
        .bar{
            width: 100%;
            height: 20%;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
        }
        .progresso-bar{
            height: 100%;
            width: var(--largura);
            background-color: var(--fundo);
            border-radius: 0 10px 0 0;
        }
        p{
            font-size: 2.5rem;
        }
    }
    .Progresso:hover,.dias:hover{
        transform: translateY(-1.1rem);
    }
    .dias{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        height: 80%;
        width: 30%;
        border-radius: 10px;
        padding: 0.5rem;
        transition-duration: 0.5s;
        box-shadow: 0 0 10px rgba(0,0,0, 0.5);
        h2{
            font-size: 1rem;
        }
        .dia{
            background-color: $laranja;
            height: 10%;
            width: var(--dia);
        }
    }
}
#Exercícios{
    height: 25dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 60%;
        box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
        transition-duration: 0.5s;
    }
    div:hover{
        transform: translateY(-1.1rem);
    }
}
#Cards{
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.5);
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        img{
            width: 90%;
            height: 80%;
            border-radius: 10px;
        }
        button{
            background-color: $laranja;
            color: white;
            padding: 1rem;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition-duration: 0.5s;
        }
        button.ativo{
            background-color: $azul;
        }
    }
    div:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
}
#Perfil{
    height: 80dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .Perfil{
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.5);
        width: 85%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        .Cards{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 70%;
            width: 100%;
            .card{
                width: 15%;
                height: 60%;
                background-color: lightgray;
                border-top: 1rem solid $azul;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 10px 10px 0 0;
                transition-duration: 0.5s;
            }
            picture{
                height: 40%;
                img{
                    border-radius: 10px;
                    height: 100%;
                }
            }
            picture:hover{
                transform: scale(1.2);
            }
            .card:hover{
                background-color: $azul;
            }
        }
        button{
            cursor: pointer;
            padding: 1rem;
            border: none;
            border-radius: 10px;
            background-color: $laranja;
            color: white;
        }
    }
}
#Dicas{
    min-height: 80dvh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    .dicas{
        width: 100%;
        height: 17dvh;
        border-top: 1rem solid $azul;
        border-radius: 10px;
        display: flex;
        padding: 1rem;
        position: relative;
        box-shadow: 0 0 10px rgba(0,0,0, 0.5);
        transition-duration: 0.5s;
        p{
            font-size: 0.9rem;
            position: absolute;
            bottom: 20%;
            left: 25%;
        }
    }
    .dicas:hover{
        transform: translateY(-0.5rem);
    }

}
#Localização{
    height: 80dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    section{
        width: 90%;
        height: 70%;
        display: flex;
        border-top: 1rem solid $laranja;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0, 0.5);
        justify-content: space-around;
        align-items: center;
        .infos{
            width: 45%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            div{
                width: 100%;
                border-bottom: 0.2rem dotted black;
                p{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                }
                img{
                    transform: scale(1.7);
                    margin-bottom: 0.5rem;
                }
            }
        }
        .mapa{
            height: 80%;
            border: 0.15rem dotted black;
            width: 45%;
            border-radius: 10px;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
    section:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
}
dialog{
    border: none;
    border-radius: 10px;
    div{
        display: flex;
        gap: 2rem;
        padding: 1rem;
        align-items: center;
        button{
            background-color: transparent;
            border: none;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        div{
            background-color: $azul;
            border-right: 0.25rem solid $laranja;
            border-radius: 8px;
            color: white;
            padding: 0.5rem;
            display: flex;
            justify-content: end;
            width: var(--modal);
            animation: modal 1s ease-in-out;
        }
    }
}
footer{
    background-color: $laranja;
    color: white;
    height: 7dvh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes modal {
    from{
        width: 100%;
    }
}