*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100dvh;
    position: relative;
    overflow: hidden;
}
.Card{
    background-color: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    h1{
        position: absolute;
        color: white;
        font-size: 10rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .fundo{
        position: absolute;
        height: 500px;
        
    }
    .refri{
        position: absolute;
        height: 600px;
    }
}
.Card.ativo{
    opacity: 1;
    .fundo,h1{
        animation: Refri 1s ease-in-out;
        top: 50%;
        transform: translateY(-50%);
    }
}
.next{
    right: 3%;
}
.prev{
    left: 3%;
}
.next,.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.755);
    padding: 0.5rem 1rem; 
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.5s;
}
.next:hover,.prev:hover{
    background-color: white;
}
@keyframes Refri {
   from{
        top: 100%;
        opacity: 0;
   }
}